@import '../../Assets/Style/variables', '../../Assets/Style/common';

.go-to-top{
    @media only screen and (max-width: 720px) {
        right: 30px;
        bottom: 30px;
    }
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 50px;
    width: 50px;
    background-color: $main-brown;
    border-radius: 50%;
    color: #fff;
    border: 1px solid #fff;
    font-size: 25px;
    visibility: hidden;
    z-index: 99999;
}